# Core Packages
Django==5.1

# Authentication Packages expecially for google
django-allauth==64.1.0
requests==2.32.3
PyJWT==2.9.0
cryptography==43.0.0

# To load environment variables
python-dotenv==1.0.1

# PDF extractor
PyMuPDF==1.24.10
pdfplumber==0.11.4
apscheduler
django-apscheduler==0.6.2
pandas==2.2.3