<!--
Django's delete functionality demands deletion Confirmation
Page. This page will be shown whenever you clicked on delete
link on `Documents` Page.
-->

{% extends "resume_parser/parser_wrapper.html" %}
{% block content %}
    <div class="wrapper">
        <center>
            <h4>Delete Confirmation</h4>
            <p style="color: black;">Your files wouldn't be back once it get deleted</p>
        </center>
        <hr>
        <center><h5>{{ document.original_filename | truncatechars:35 }}</h5></center>
        <form method="POST">
            {% csrf_token %}
            <center>
                <button type="submit" 
                        class="btn btn-outline-warning"
                        style="padding:10px 30px; margin-top: 10px; font-weight: bold; color: white;">
                        Yes, Delete
                </button>
                <a href="{% url 'uploaded-docs' %}" 
                class="btn btn-outline-success" 
                style="padding:10px 45px; margin-top: 10px; font-weight: bold; color: white;">
                    Cancel
                </a>
            </center>
        </form>
    </div>
{% endblock %}
