{% extends "resume_parser/parser_wrapper.html" %}
{% load i18n %}
{% load allauth account socialaccount %}

{% block head_title %}
    {% trans "Uploaded Docs" %}
{% endblock head_title %}

{% block content %}
    <div class="doc-uploaded-wrapper">
        <center><h3>Your Documents</h3></center>
        {% if object_list %}
            <div class="table-wrapper">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>S.Num</th>
                            <th>Unique Identifier</th>
                            <th>Filename</th>
                            <th>Uploaded Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for document in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ document.unique_identifier }}</td>
                            <td>{{ document.original_filename | truncatechars:35 }}</td>
                            <td>{{ document.uploaded_date|date:"Y-m-d H:i" }}</td>
                            <td>{{ document.status }}</td>
                            <td>
                                <a href="{{ document.file.url }}" target="_blank" class="url-style">View</a> |
                                <a href="{% url 'document-delete' document.pk %}" class="text-danger url-style"
                                    onclick="return confirm('Are you sure you want to delete this document?');">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>You haven't uploaded any documents yet.</p>
        {% endif %}
    </div>
{% endblock content %}
