{% extends "resume_parser/parser_wrapper.html" %}
{% load i18n %}
{% load allauth account socialaccount %}

{% block head_title %}
    {% trans "Uploaded Docs" %}
{% endblock head_title %}

{% block content %}
    <div class="wrapper">
        {% if object_list %}
            <ul>
                {% for document in object_list %}
                    <li>
                        <a href="{{ document.file.url }}" target="_blank">
                            {{ document.file.name | slice:"10:" }} <!-- Show the filename -->
                        </a> 
                        (Uploaded on: {{ document.uploaded_date|date:"Y-m-d H:i" }})
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't uploaded any documents yet.</p>
        {% endif %}
    </div>
{% endblock %}

